@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu';
}

html,body {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.principal {
    width: 100%;
    height: 100%;
    background: url("https://jonas1937.github.io/portfolio/images/background.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .titulo {
    margin: 15px;
    font-size: 30px;
    color: white;
}

.header .menu {
    margin-right: 15px;
}

.header .link {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    transition-duration: 200ms;
}

.header .link:hover {
    color: gray;
    font-size: 21px;
} 

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin-bottom: 450px;
    padding: 25px;
    animation: init 1s forwards;
}

.descricao {
    margin-top: 10px;
}

.seta {
    position: absolute;
    left: 48%;
    width: 40px; 
    bottom: 60px;
    animation: movimento-seta 1s infinite alternate-reverse;
}

@keyframes movimento-seta {
    0% {
        transform: translateY(-50%) rotate(-90deg);
    }
    100% {
        transform: translateY(0) rotate(-90deg);
    }
}

@keyframes init {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

    /* Habilidades */

.habilidades {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 35px;
    height: 350px;
}

.habilidade-box {
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 15px #332a2ac5;
}

.habilidade-box p {
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 1000;
}

.habilidade{
    width: 90%;
    height: 90%;
    margin-left: 15px;
    filter: grayscale(1);
    transition: 1s;
}

.habilidade:hover {
    filter: grayscale(0);
}


    /* Projetos */

.projetos {
    margin-top: 20px;
    width: 100%;
    height: 910px;
    display: flex;
    flex-direction: column;
}

.projeto {
    width:85%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    transition: 1s;
    margin: auto auto;
    background-color: darkgray;
    
}

.content-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-bottom: 15px ;
}

.projeto:hover {
    animation: margin 2s;
    animation-fill-mode: forwards;
}

.content-project h2  {
    font-weight: 800;
    margin: 5px;
    color: whitesmoke;    
}

.content-project h4 {
    font-weight: 400;
    margin: 5px;
    color: whitesmoke;
}

.content-project a {
    padding: 20px 15px;
    border-radius: 3px;
    width: 120px;
    margin: 5px;
    background-color: cadetblue;
}

.projeto span {
    width: 150px;
    padding: 15px 15px;
    color: aliceblue;
    margin-right: 15px;
}

@keyframes margin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background: rgb(88, 61, 61);
        background-size: 100% 100%;
    }
}


